.Search-Container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
  background-color: aliceblue;
}
.Search-Container input{
    padding: 5%;
    border: none;
    outline: none;
  }
  
  .Search-Container button{
    padding: 5%;
    border: none;
    background-color:#4e04a2 ;
    color: white;
    cursor: pointer;
  }
  
  /* border: 1px solid #B028FF;
  color: white;
} */
