.usersListContainer {
    display: flex;
    justify-content: center;
    margin-left: 16%;
    overflow-y: hidden;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cambio: Establecer 4 columnas en la cuadrícula */
    gap: 20px;
}

.card {
    background-color: #042940;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.080rem;
}