.pay{
  padding-top:234px;
}


.checkout-form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
  }
  
  .checkout-image {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkout-image img {
    max-width: 100%;
    height: auto;
  }
  
  .checkout-form__price {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .checkout-form__card-element {
    margin-bottom: 20px;
  }
  
  .checkout-form__button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4e04a2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-form__button:hover {
    background-color: #218838;
  }
  .email{
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(149, 149, 149);
  }
  .checkout-form__spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: checkout-form__spin 1s linear infinite;
  }
  
  @keyframes checkout-form__spin {
    to {
      transform: rotate(360deg);
    }
  }
  