.pagination {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagination a {
    display: inline-block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2rem;
  }

.pagination a.active {
    background-color: #B028FF;
    color: black;
  }
  
  .pagination a:hover:not(.active) {background-color: rgba(0, 0, 0, 0.20);}