.postOrder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.inputs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25rem;
}

.items{
  margin: 1rem;
  padding: 2%;
}

.orderButton{
  padding: 5%;
  background-color: #B028FF;
  cursor: pointer;
  color: white
}