a {
    text-decoration: none;
    color: black;
}

.proud-container {
    padding: 11rem 0;
    font-family: 'Roboto', sans-serif;
}

.proud-h2 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}
/* cambios */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative; 
    overflow: hidden; 
    font-family: 'Roboto', sans-serif;
  }
  
  .product:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    
  }
  .product:hover .product-header img {
    transform: scale(1.1); /* Agregado */
  }
  
  .product-header img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-details h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;

  }
  
  .product-details p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .item-price {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0062ff;
    font-family: 'Roboto', sans-serif;
  }
.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

/* categories */

.catego-header {
    padding-top: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4rem;
}



.catego-header a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.filter-btns {
    justify-content: center;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.filter-btns button {
    padding: .6rem 1.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.filter-btns button:hover {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.title-home {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 6rem;
}

.title-home h3 {
    font-size: 2.7rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.title-home a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    text-align: left;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin-top: 1rem;
    margin-left: 25%;
    margin-bottom: 2rem;
}

.pagination button{
    cursor: pointer;
    font-size: 1.8rem;
    margin: 0;
    padding: 0.5rem;
    color: antiquewhite;
    background-color: blueviolet;
    border-radius: 5px;
}

/* queries */

@media (max-width:750px) {
    .products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width:600px) {
    .products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width:430px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}