.body{
  background-color: #042940;
}

.containeruser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    max-width: 50%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 2em;
    background-color: white;
  }
  
  .user img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .logout button{
    padding: 25%;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #007A78;
    font-size: 0.8em;
  }

  .homeButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.5em;
    margin-bottom: 2rem;
  }

  .homeButton button{
    padding: 3%;
    font-size: 1.5em;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4D1F61;
    color: white;
  }


  @media (max-width: 768px) {
    .containeruser {
      flex-direction: column;
    }
  }
  