.item_normal{
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    cursor: pointer;
    position:relative;
    display:flex;
    padding-bottom: 10px;
}

.item:hover {
    outline: 2px solid rgba(0, 0, 0, .7);
}

.item_header {
    max-height:1rem; /* Modificación: Cambiar "width" por "max-width" */
    /* Agregar: Para mantener la proporción */
}

.item_image{
    width: 150px !important;
  object-position: center;
  margin-right: 10px;
 padding-left: 10px;
 padding-top: 50%;
}

.item_details {
    font-size: 1.5rem;
}

.item-price {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 1.4rem;
}


/* queries */

.pagination {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagination a {
    display: inline-block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2rem;
}

.pagination a.active {
    background-color: #B028FF;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.20);
}

.buttons{
    display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.edit{
    margin-right: 10px;
}

.deactivate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #921317;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1%;
    margin-right: 1rem;
    cursor: pointer;
}

.activate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1%;
    margin-right: 1rem;
    cursor: pointer;
}