.main_wrapper{
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    margin-left: 20%;
    height: 100vh;
    overflow: hidden;
}

/* background-color: #007A78; */

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #4D1F61;
    padding: 0%;
    font-family: "Trebuchet MS", sans-serif;
}

.main_title{
    font-size: 1.5rem;
}

.productForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    padding: 1rem 0;
}

.error_form{
    height: 30px;
    width: 100%;
    font-size: 1.5rem;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;

}
label{
    font-size: 1.5rem;
}
/* notify */

.notify {
    color: white;
    background-color: #4D1F61;
    padding: 1.2rem 2.2rem;
    z-index: 999999999;
    font-size: 2rem;
    position: absolute;
    transform: translate(-50%);
    top: -100%;
    left: 50%;
}

.notify.slide-in {
    animation-duration: 4s;
    animation-delay: -1s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    0% {
        top: -100%;
    }

    40% {
        top: 90px;
    }

    60% {
        top: 90px;
    }

    100% {
        top: -100%;
    }
}