.item {
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    cursor: pointer;
    margin-left: 25%;
    position:relative;
    display:flex;
}

.item:hover {
    outline: 2px solid rgba(0, 0, 0, .7);
}

.item-header {
    max-height: 2rem; /* Modificación: Cambiar "width" por "max-width" */
    /* Agregar: Para mantener la proporción */
}

.item-image{
    width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  margin-right: 10px;
  max-width: 100%;
  max-height: 100%;
}

.item-details {
    font-size: 1.7rem;
    padding: 1rem;
}

.item-price {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 1.4rem;
}


/* queries */

.pagination {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagination a {
    display: inline-block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2rem;
}

.pagination a.active {
    background-color: #B028FF;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.20);
}