.product {
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    cursor: pointer;
    margin-left: 25%;
}

.product:hover {
    outline: 2px solid rgba(0, 0, 0, .7);
}

.product-header img {
    max-width: 100%; /* Modificación: Cambiar "width" por "max-width" */
    height: auto; /* Agregar: Para mantener la proporción */
}

.product-details {
    font-size: 1.7rem;
    padding: 1rem;
}

.item-price {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 1.4rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Modificación: Usar "repeat(auto-fit, minmax(200px, 1fr))" */
    gap: 2rem;
}

/* queries */

@media (max-width:750px) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Modificación: Usar el mismo valor que en el estilo base */
    }
}

@media (max-width:600px) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Modificación: Usar el mismo valor que en el estilo base */
    }
}

@media (max-width:430px) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Modificación: Usar el mismo valor que en el estilo base */
    }
}

.pagination {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagination a {
    display: inline-block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2rem;
}

.pagination a.active {
    background-color: #B028FF;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.20);
}