.sidebarcontainer{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 40vw;
    background-color: #042940;
  }
  
  
  .sidebarcontainer a {
    display: block;
    padding-top: 17rem;
    padding-bottom: 0%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  
